<h1><center>User forms</center></h1>
<%=form_tag action: "new" do %>
   <p>
     <%= label_tag 'firstname' %>
     <%= text_field_tag 'fname' %> 
   </p>
   <p>
     <%= label_tag 'lastname' %>
     <%= text_field_tag 'lname' %>
   </p>
   <p> 
     <%= label_tag 'dob' %>
     <%= date_field_tag 'dob' %>
   </p>
   <p>
     <%= label_tag 'gender' %>
     <%= radio_button_tag 'gender','male' %> Male
     <%= radio_button_tag 'gender','female' %> Female
   </p>
   <p>
     <%= label_tag 'qualification' %>
     <%= select_tag 'qualification',"<option>MCA</option><option>Btech</option><option>B.com</option>".html_safe, include_blank: true %>
   </p>
   <p>
     <%= label_tag 'hobbies' %>
     <%= check_box_tag 'rock[]','cricket' %> Cricket
     <%= check_box_tag 'rock[]','tennis' %> Tennis
     <%= check_box_tag 'rock[]','football' %> Football
   </p>
   <p>
     <%= submit_tag %>
   </p>

<%end%>
<%= @data %>