<%= form_tag do %>

<p>Enter A value : <%= number_field_tag 'a' %></p>
<p>Enter B value : <%= number_field_tag 'b' %></p>
<p><%= submit_tag "Addition" %></p>
<% end %>
<html> Addition : <%= @a + @b %></html>
