<%= form_tag do %>

<p>Enter A value : <%= number_field_tag 'a' %></p>
<p>Enter B value : <%= number_field_tag 'b' %></p>
<p><%= submit_tag "Subtraction" %></p>
<% end %>
<html> Subtraction : <%= @a - @b %></html>